Repository AlmostGreatBand/lemon-server, pull requests merged in 2021-01, with the labels that each got.

#15 Issue #13: Rewrite test server to use HTTP Basic Authentification
  src/testServer/routing.js
  src/testServer/testServer.js
Labels: bug, server

#17 fix(core): Fixed test server basic auth headers
  .github/hooks/pre-commit
  package-lock.json
  package.json
  src/testServer/testServer.js
Labels: ci, server

#19 Updates for deployment
  Procfile
  package.json
  set-up.sh
  src/testServer/testServer.js
Labels: ci/cd, server

#14 Issue 2 mono api
  .github/hooks/pre-push
  src/datasources/BankDataSource.js
  src/datasources/mono/mono.js
  src/datasources/mono/mono_usage.js
Labels: bank API
